<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Inchoo\MenuItem\Model\ResourceModel\Artist\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">art_table</argument>
            <argument name="resourceModel" xsi:type="string">Inchoo\MenuItem\Model\ResourceModel\Artist</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="inchoo_menuitem_artist_data_source" xsi:type="string">Inchoo\MenuItem\Model\ResourceModel\Artist\Collection</item>
            </argument>
        </arguments>
    </type>
</config>